@use '../../scss/variables' as v;

.gpt3__navbar {
  padding: 3rem;

  &-links {
    gap: 2rem;
    flex: 1;
    &-logo {
      img {
        width: 4rem;
      }
    }
    &-menu {
      gap: 2rem;
      display: none;
      a {
        color: white;
        font-weight: 600;
      }
    }
  }

  &-btns {
    gap: 2rem;
    margin-right: 1.65rem;
    display: none;
    .sign-in {
      color: white;
      font-family: 'Manrope', sans-serif;
      font-size: 1rem;
      font-weight: 600;
    }
    .sign-up {
      color: white;
      font-family: 'Manrope', sans-serif;
      font-size: 1rem;
      background-color: v.$color-subtext;
      padding: 0.8rem 1.8rem;
      border-radius: 0.5rem;
      font-weight: 600;
    }
  }

  &-menu {
    position: relative;
    svg {
      position: relative;
      cursor: pointer;
    }
    &-container {
      background-color: v.$color-footer;
      position: absolute;
      top: 3rem;
      right: 0.2rem;
      text-align: right;
      justify-content: center;
      align-items: end;
      gap: 1rem;
      padding: 1.5rem 1.5rem 1.5rem 0;
      width: 11rem;
      border-radius: 1rem;
      a {
        color: white;
        font-weight: 600;
      }
      button {
        display: block;
        color: white;
        font-size: 1rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
      }
      .sign-in {
        margin-top: 0.5rem;
      }
      .sign-up {
        background-color: v.$color-subtext;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 450px) {
  .gpt3__navbar-btns {
    display: flex;
  }
  .gpt3__navbar-menu-container {
    top: 4.5rem;
    right: 0.5rem;
    button {
      display: none;
    }
  }
}

@media only screen and (min-width: 950px) {
  .gpt3__navbar {
    &-links-menu {
      display: flex;
    }
    &-menu {
      display: none;
    }
  }
}
