@use '../../scss/variables' as v;

.possibility {
  margin-top: 8rem;
  gap: 2rem;
  padding-inline: 2rem;

  &__content {
    gap: 2rem;
    align-items: start;
    p {
      color: white;
      opacity: 0.65;
    }
    button {
      color: v.$color-text;
      font-family: 'Manrope';
    }
  }
}
