@use './variables' as v;

body {
  background-color: v.$color-bg;
}

.gradient-bg {
  background: rgb(0, 40, 83);
  background: linear-gradient(
    129deg,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 79%
  );
}

.gradient-text {
  background: v.$gradient-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-padding {
  padding: 4rem 6rem;
}

.section-margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section-padding {
    padding: 4rem;
  }

  .section-margin {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section-padding {
    padding: 4rem 2rem;
  }

  .section-margin {
    padding: 4rem 2rem;
  }
}
