@use '../../scss/variables' as v;

.header {
  margin-top: 3rem;
  gap: 4rem;

  &__data {
    gap: 2rem;

    p {
      color: white;
      opacity: 0.6;
    }

    &-input {
      input {
        background-color: v.$color-blog;
        color: white;
        opacity: 0.6;
        font-family: 'Manrope', sans-serif;
        padding: 0.6rem 0.8rem;
        width: 60%;
        border-radius: 0.3rem 0 0 0.3rem;
      }
      button {
        background-color: v.$color-subtext;
        color: white;
        padding: 0.6rem 0.8rem;
        border-radius: 0 0.3rem 0.3rem 0;
        width: 40%;
        font-family: 'Manrope', sans-serif;
        font-size: 0.85rem;
      }
    }
    &-users {
      margin-top: 1.5rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      p {
        font-size: 0.8rem;
      }
    }
  }
  &__image {
    text-align: center;
  }
}

@media only screen and (min-width: 485px) {
  .header {
    &__data-users {
      flex-direction: row;
      gap: 1rem;
      justify-content: start;
    }
    &__image img {
      max-width: 25rem;
    }
  }
}

@media only screen and (min-width: 680px) {
  .header {
    &__data {
      h1 {
        font-size: 2.4rem;
      }
      p {
        font-size: 1.15rem;
      }
      &-input {
        width: 28rem;
        input {
          padding: 0.8rem 1rem;
        }
        button {
          padding: 0.8rem 1rem;
        }
      }
      &-users p {
        font-size: 1rem;
      }
    }
    &__image img {
      max-width: 35rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

    &__image {
      img {
        max-width: 24rem;
      }
    }
    &__data-input {
      input {
        padding: 1.3rem;
      }
      button {
        padding: 1.3rem;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
  .header__image {
    img {
      max-width: 32rem;
    }
  }
}

@media only screen and (min-width: 1360px) {
  .header {
    padding-inline: 5rem;
  }
}

@media only screen and (min-width: 1750px) {
  .header {
    padding-inline: 10rem;
    &__data {
      h1 {
        font-size: 3.3rem;
      }
      &-input {
        input {
          font-size: 1.1rem;
        }
        button {
          font-size: 1.05rem;
        }
      }
    }

    &__image img {
      max-width: 40rem;
    }
  }
}
